<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DTS.Properties.Settings>
            <setting name="LightWeightDataAccessMachine" serializeAs="String">
                <value>172.17.35.26</value>
            </setting>
            <setting name="OcvMachine" serializeAs="String">
                <value>172.17.35.26</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>BIS</value>
            </setting>
            <setting name="RunInTrusty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HCMachine" serializeAs="String">
                <value>172.17.35.26</value>
            </setting>
            <setting name="SchedulePath" serializeAs="String">
                <value>\\nd-app01\Schedule\MI-Schedule\</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Ndl123456</value>
            </setting>
        </DTS.Properties.Settings>
    </applicationSettings>
</configuration>